# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
ENV/
env/
pip-wheel-metadata/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# Data files
*.csv
*.tsv
*.parquet
*.h5
*.db
*.sqlite
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# Airflow
airflow.cfg
airflow.db
logs/

# DVC
.dvc/
*.dvc
.cache/

# Raw data
data/raw/*

# Reports
reports/*